@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

body {font-family: 'DM Sans', sans-serif;}
body, html {
    height: 100%;
    margin: 0;
}
/*MOBILE TASARIM KODLARI*/
.homeInner {
    width: 375px;
    margin: 0 auto;
}
/*HEADER SECTION*/
.header {
    display: flex;
    padding: 28px 24px;
    justify-content: space-between;
    align-items: center;
}
/*MODAL _ HAMBURGER */
.hamburger {
    position: relative;
  }
  .bar {
    display: block;
    width: 20px;
    height: 5px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .bar:nth-child(3) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-8px) rotate(-45deg);
  }
  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 325px;
  }
  .hamburger.active + .modal.active {
    display: block;
    z-index: 999;
    top: 0;
    left: 0;
  } 
  .modal.active {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 375px;
    margin: 0 auto;
  }
  .modalTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px;
  }
  .modalMid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    & a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.5px; 
    }
  }
  .modalBot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 32px ;
    & button {
        background-color: black;
        border: 0;
        padding: 14px 68px;
        & a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
  }
  /**************************************/
  /*DETAIL SECTION*/
  .mobileOneText {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 66px;
    & img {
        width: 128px;
        margin-left: 33px;
    }
  }
  .textDetails {
    width: 318px;
    margin: 0 auto;
    height: 419px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & h4 {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px; /* 125% */
        letter-spacing: 3.333px;
        text-transform: uppercase; 
    }
    & h5 {
        color: #fff;
        opacity: 0.6;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; /* 166.667% */ 
    }
  }
.getLink {
    background-color: black;
    border: 0;
    margin-top: 7px;
    & a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px; 
        text-transform: uppercase; 
        display: flex;
        text-decoration: none;
        & img {
            width: 42px;
        }
    }
    
}
.twoTextInner {
    width: 318px;
    margin: 0 auto;
    padding-block: 72px;
    display: flex;
    flex-direction: column;
    gap:16px;
    & h4 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px; /* 125% */
        letter-spacing: 3.333px;
        text-transform: uppercase; 
    }
    & h5 {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; /* 166.667% */ 
        opacity: 0.6; 
    }
}
.getLinkWhite {
    border: 0;
    margin-top: 7px;
    background-color: transparent;
    & a {
        color: black;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px; 
        text-transform: uppercase;
        text-decoration: none; 
        display: flex;
    gap: 26px;
        & img {
            width: 42px;
        }
    }
}
/******************/
/**SPEC SECTION**/
.specTop {
    display: flex;
    flex-direction: column;
    height: auto;
}
.topContent {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.27%, rgba(0, 0, 0, 0.66) 100%);
    position: relative;
    z-index: 1;
  
   & .contentText {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    padding-inline: 33px;
    & h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px; /* 138.889% */ 
    }
    & h5 {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: normal; 
    }
    & .contentbtn {
        background-color: transparent;
        border: 0;
        & a {
            display: flex;
            gap: 160px;
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px; 
            color: #fff;
            text-transform: uppercase;
        }
    }
   }
}
/*********************************************************************/
/*limitsEmbedSection*/
.embedInner {
  display: flex;
  flex-direction: column;
  padding: 80px 33px;
  gap: 56px;
}
.embedSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  & img {
    width: 72px;
  }
}
.embedText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  & h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px; /* 138.889% */ 
  }
  & h5 {
    opacity: 0.6;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */ 
  }
}